@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color: #fd4646;
    --text-color: #000;
    --bg-color: #fff;
    --container-color: #fff;
}

img {
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--bg-color);
    background: var(--container-color);
}

section{
    padding: 4rem 0 3rem;
}

.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--container-color);
    box-shadow: 0 1px 4px hsla(0, 0%, 0%, 0.1);
    z-index: 100;
    margin-bottom: 1.8rem;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo{
    font-size: 1.1rem;
    color: black;
    font-weight: 600;
}

#cart-icon {
    position: relative;
    font-size: 2.5rem;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#cart-icon[data-quantity="0"]::after {
    content: "";
}

#cart-icon[data-quantity]::after {
    content: attr(data-quantity);
    position: absolute;
    top: -7px;
    right: -7px;
    width: 20px;
    height: 20px;
    background: green;
    border-radius: 100%;
    color: white;
    font-size: 12px; /* Adjust font size as needed */
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

.cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    max-height: calc(100vh - 280px);
    min-height: 100vh;
    padding: 20px;
    background: var(--container-color);
    box-shadow: -2px 0 4px hsl(0, 4%, 15% / 10%);
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cart-content {
    max-height: 300px;
    overflow-y: auto;
    padding-right: 15px;
    margin-top: 15px; /* Add some top margin for better spacing */
    border-top: 1px solid #ccc; /* Add a border at the top */
}

.cart-content::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.cart-content::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
}

.cart-content::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners of the scrollbar thumb */
}

.cart-content::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
}

.cart.active {
    right: 0;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.total{ 
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
}

.total-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1rem;
    color: black;
}

.total-price {
    font-size: 1.075rem;
    margin: 1rem 0 0 0.7rem;
    color: #000;
}

.btn-buy {
    display: flex;
    justify-content: center;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    width: 50%;
    text-align: center;
    border: none;
    border-radius: 2rem;
    background: var(--text-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-style: italic;
    font-weight: 500;
    cursor: pointer;
}

#close-cart {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    object-position: center;
    padding: 10px;
}

.detail-box {
    display: grid;
    row-gap: 0.5rem;
}

.cart-product-title {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.cart-price {
    font-weight: 500;
}

.cart-quantity {
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 2.8rem;
    text-align: center;
    font-size: 1rem;
    border-radius: 4px;
}

.cart-remove {
    font-size: 24px;
    color: red;
    cursor: pointer;
}

.section-title { 
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.8rem;
}

.shop {
    margin-top: 2rem;
}

.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 1.5rem;
}

.product-box img {
    width: 80%;
}

h2 {
    color: black;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: left;
    margin-bottom: 0.3rem;
}

.price {
    font-size: 14px;
    color: black;
    font-weight: bold;
}

.product-box h5 {
    color: black;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 0.3rem;
}

.product-box {
    position: relative;
    background: #e4e4e4;
    padding: 10px;
    border-radius: 5px;
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.product-box:hover {
    background: rgb(88, 88, 88);
    border: 1px slid #f0f0f0;
    box-shadow: 0 8px 32px hsla(0.75, 0.82, 0.165, 1);
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.product-box:hover .product-title,
.product-box:hover .product-description,
.product-box:hover .price {
    color: #ffffff;
}


.product-img{
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    text-align: center;
}

.product-title {
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.3rem;
}

.price {
    font-weight: 500;
}

.add-cart {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgb(255, 255, 255);
    color: var(--bg-color);
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 50%;
    cursor: pointer;
}

.add-cart:hover {
    background: hsl(249, 32%, 17%);
}


/* for success page */

.sc-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sc-container img {
    width: 200px;
    margin: 2rem 0;
}

.sc-container h1 {
    font-size: 2.8rem;
    margin-bottom: 10px;
    color: #000;
}

.sc-container p {
    max-width: 600px;
    font-size: 0.97rem;
    text-align: center;
    margin: 0.5rem 0;
    color: #000;
}

.sc-btn {
    padding: 12px 20px;
    border-radius: 2rem;
    background: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    color: white;
}

@media (max-width:1080px){
    .nav {
        padding: 14px 0;
    }
    section{
        padding: 3rem 0 2rem;
    }
    .container{
        margin: 0 auto;
        width: 90%;
    }
    .shop{
        margin-top: 2rem !important;
    }
}

@media (max-width:400px){
    .nav {
        padding: 12px 0;
    }
    .logo{
        font-size: 1rem;
    }
    .cart{
        width: 320px;
    }
}

@media (max-width:360px){
    .shop{
        margin-top: 1rem !important;
    }
    .cart{
        width: 100%;
    }
}